html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Blinker', sans-serif;
}

a {
  background-color: #e25252;
  color: inherit;
  text-decoration: none;
}

* {
  user-select: none;
  box-sizing: border-box;
  
}

